:root {
  --black: #111;
  --bodywhite: #fdfbfb;
  --lightgray: rgb(220, 220, 220);
  --tkdblue: #1a468d;
  --tkdred: #e41d38;
  --gray: rgb(70, 70, 70);
}

body {
  background: var(--black);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.navbar-burger span {
  background-color: black;
}

.navbar-burger:hover {
  background-color: rgb(240, 240, 240);
}

.hero-body {
  background-image: url(./Images/Header\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lexend-giga-header {
  font-family: 'Lexend Giga', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-header {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.has-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 85%;
}

.card-header {
  background-color: var(--tkdblue);
  align-items: center;
  justify-content: center;
}

.tkdlogo {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--tkdred);
  border: none;
  font-family: 'Lexend Giga', sans-serif;
  min-width: 10rem;
}

.formfield {
  margin-top: 3rem;
}

#schedule,
#about {
  background-color: var(--tkdblue);
  color: white;
}

.about-pic {
  width: 12rem;
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem;
  filter: grayscale(1);
}

.about-body {
  font-size: 0.85rem;
}

.collage-pic {
  max-height: 600px;
}

.footer {
  background-color: var(--tkdred);
  color: #fdfbfb;
}

.top-bar-right {
  float: right;
  width: 100%;
  color: var(--gray);
  padding: 0 20px;
  max-width: 1550px;
  margin: 0 auto;
  align-content: center;
}

.top-bar-right a {
  color: var(--gray);
}

.top-social {
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
  width: auto;
}

.top-bar-location-details {
  float: right;
  width: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 1.2em;
}

.top-social li {
  float: left;
  width: auto;
  list-style-type: none;
  font-size: 1rem;
  position: relative;
}
